.poster {
  flex-shrink: 0;
  border: 12rem dashed var(--accent-color);
  padding: 33rem;
  display: grid;

  &.igstory {
    width: 540rem;
    height: 960rem;
    padding: 33rem;
    grid-template-rows: 1fr 1fr;
  }
  &.igpost {
    width: 540rem;
    height: 540rem;
    padding: 10rem 10rem 10rem 33rem;
  }
  &.fbpost {
    width: 600rem;
    height: 378rem;
    padding: 16rem;
  }
}

.photoWrap {
  position: relative;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  &.imageLabel {
    &:before {
      content: "";
      position: absolute;
      flex-shrink: 0;
      background: url("./img/find_me.svg") no-repeat center;
      background-size: contain;
    }
  }
  &.igstory {
    width: 219rem;
    height: 336rem;
    &.imageLabel {
      &:before {
        height: 75rem;
        width: 75rem;
        bottom: -20rem;
        left: -20rem;
      }
    }
  }
  &.igpost {
    width: 248rem;
    height: 320rem;
    &.imageLabel {
      &:before {
        height: 55rem;
        width: 55rem;
        bottom: -10rem;
        left: -10rem;
      }
    }
  }
  &.fbpost {
    width: 248rem;
    height: 314rem;
    &.imageLabel {
      &:before {
        height: 40rem;
        width: 40rem;
        top: 0rem;
        right: -10rem;
      }
    }
  }
}

.infoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  &.igstory {
    gap: 12rem;
    padding-bottom: 33rem;
    border-bottom: 3rem solid var(--accent-color);
  }
  &.igpost {
    padding-top: 1em;
    gap: 16rem;
    padding-bottom: 1em;
    border-bottom: 3rem solid var(--accent-color);
  }
}

.infoBlockTextContent {
  flex: 1;
  overflow: hidden;
  &.igpost {
    padding-top: 6rem;
  }
  &.fbpost {
    display: grid;
    align-items: start;
  }
}

.nameBlock {
  background-color: var(--accent-color);
  color: var(--bg-color);
  line-height: normal;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  &.igstory {
    font-size: 40rem;
    padding: 4rem 14rem;
  }
  &.igpost {
    font-size: 32rem;
    padding: 0 8rem;
  }
  &.fbpost {
    margin-top: 0.4em;
    font-size: 18rem;
    padding: 6rem 8rem;
    max-width: 210rem;
  }
}

.nameBlockEl {
  display: inline-block;
  &.igstory {
    max-height: 42rem;
  }
  &.igpost {
    max-height: 40rem;
  }
}

.ageBlock {
  color: var(--font-secondary);
  display: flex;
  align-items: center;
  gap: 0.5em;
  &.igstory {
    margin-top: 1em;
  }
  &.igpost {
    margin-top: 1em;
  }
  &.fbpost {
    margin-top: 0.2em;
  }
}

.age {
  font-weight: 900;
  line-height: normal;
  &.igstory {
    font-size: 24rem;
    max-height: 32rem;
  }
  &.igpost {
    font-size: 24rem;
    max-height: 32rem;
  }
  &.fbpost {
    font-size: 18rem;
    max-height: 32rem;
  }
}

.birthdate {
  line-height: normal;
  height: 1em;
  min-width: 3em;
  &.igstory {
    font-size: 16rem;
  }
  &.igpost {
    font-size: 16rem;
  }
  &.fbpost {
    font-size: 10rem;
  }
}

.circumstancesBlock {
  color: var(--font-secondary);
  line-height: normal;
  display: inline-block;
  &.igstory {
    font-size: 16rem;
    max-height: 260rem;
  }
  &.igpost {
    font-size: 14rem;
    max-height: 170rem;
  }

  &.fbpost {
    font-size: 12rem;
    max-height: 120rem;
    max-width: 210rem;
  }
}

.circumstancesBlockEl {
  white-space: pre-wrap;
  margin-top: 1em;
}

.contactsBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.titleWrap {
  display: flex;
  flex-direction: column;

  &.igstory {
    height: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 3rem solid var(--accent-color);
  }
  &.igpost {
    padding-bottom: 6rem;
    align-items: start;
    justify-content: center;
    border-bottom: 3rem solid var(--accent-color);
  }
  &.fbpost {
    align-items: start;
    justify-content: center;
  }
}

.title {
  font-weight: 900;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  &.igstory {
    font-size: 72rem;
    max-height: 260rem;
    letter-spacing: -2.5rem;
    margin: 0.33em 0 0.5em 0;
    text-align: center;
    justify-content: center;
  }
  &.igpost {
    font-size: 32rem;
    max-height: 70rem;
    text-align: start;
    justify-content: start;
  }
  &.fbpost {
    font-size: 24rem;
    max-height: 50rem;
    text-align: start;
    justify-content: start;
  }
}

.note {
  font-weight: 900;
  line-height: normal;
  text-align: center;
  &.igstory {
    padding: 0.8em 0 1.2em 0;
    font-size: 25rem;
    border-bottom: 3rem solid var(--accent-color);
  }
  &.igpost {
    padding: 1em 0 0 0;
    font-size: 16rem;
    text-align: start;
    justify-content: start;
  }
  &.fbpost {
    padding: 1em 0 0 0;
    text-align: start;
    justify-content: start;
  }
}

.contacts {
  font-weight: 900;
  line-height: normal;
  white-space: nowrap;
  display: flex;

  gap: 0.5em;
  &:before {
    content: "";
    background: url("./img/phone.svg") no-repeat center;
    background-size: contain;
    height: 1em;
    width: 1em;
    flex-shrink: 0;
  }
  &.igstory {
    margin: 0.79em 0;
    font-size: 38rem;
    max-height: 42rem;
    align-items: center;
    justify-content: center;
  }
  &.igpost {
    margin: 0.2em 0;
    font-size: 36rem;
    max-height: 42rem;
    align-items: center;
    justify-content: center;
  }
  &.fbpost {
    margin: 0.2em 0;
    font-size: 20rem;
    max-height: 40rem;
    border-top: 3rem solid var(--accent-color);
    padding-top: 12rem;
    align-items: center;
    justify-content: start;
  }
}
