.poster {
  flex-shrink: 0;
  border: 12rem dashed var(--accent-color);
  padding: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.igstory {
    width: 540rem;
    height: 960rem;
  }
}

.photoWrap {
  position: relative;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  &.imageLabel {
    &:before {
      content: "";
      position: absolute;
      background: url("./img/find_me.svg") no-repeat center;
      background-size: contain;
      height: 75rem;
      width: 75rem;
      flex-shrink: 0;
      bottom: -20rem;
      left: -20rem;
    }
  }
}

.infoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  border-bottom: 3rem solid var(--accent-color);
  padding-bottom: 33rem;
}

.infoBlockTextContent {
  flex: 1;
  overflow: hidden;
}

.nameBlock {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-size: 40rem;
  line-height: normal;
  font-weight: 900;
  padding: 4rem 14rem;
  display: flex;
  flex-direction: column;
}

.nameBlockEl {
  display: inline-block;
}

.ageBlock {
  color: var(--font-secondary);
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.age {
  font-weight: 900;
  font-size: 24rem;
  line-height: normal;
}

.birthdate {
  font-size: 16rem;
  line-height: normal;
  height: 1em;
  min-width: 3em;
}

.circumstancesBlock {
  color: var(--font-secondary);
  font-size: 16rem;
  line-height: normal;
}

.circumstancesBlockEl {
  margin-top: 1em;
  white-space: pre-wrap;
}

.contactsBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleWrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 3rem solid var(--accent-color);
}

.title {
  padding: 0.33em 0 0.5em 0;
  font-weight: 900;
  font-size: 72rem;
  line-height: normal;
  letter-spacing: -2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  padding: 0.8em 0 1.2em 0;
  font-weight: 900;
  font-size: 25rem;
  line-height: normal;
  border-bottom: 3rem solid var(--accent-color);
  text-align: center;
}

.contacts {
  padding: 0.79em 0;
  font-weight: 900;
  font-size: 38rem;
  line-height: normal;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  &:before {
    content: "";
    background: url("./img/phone.svg") no-repeat center;
    background-size: contain;
    height: 1em;
    width: 1em;
    flex-shrink: 0;
  }
}

.igstory {
  .photoWrap {
    width: 219rem;
    height: 336rem;
  }
}
