.form {
  width: 100;
  display: grid;
  gap: 16px;
  height: fit-content;
  flex-shrink: 0;
  @media (min-width: 1200px) {
    width: 460px;
  }
}
.label {
  display: grid;
  gap: 6px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.datePicker {
  cursor: pointer;
}

.format-options {
  display: flex;
  gap: 20px;
}

.textareaBig {
  min-height: 100px;
}

.textareaSmall {
  min-height: 50px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--bg-color);
  height: 40px;
  width: 240px;
  border-radius: 8px;
  transition: border-radius 300ms;
  &:hover {
    border-radius: 16px;
  }
}

.imageSettings {
  z-index: 999;
  padding: 20px;
  width: 200px;
  background-color: var(--bg-color);
  border-radius: 16px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 1px solid var(--accent-color);
  @media (min-width: 1200px) {
    top: 20px;
    right: 20px;
    bottom: unset;
  }
  input:not(.checkbox) {
    width: 100%;
  }
}
