@import "@fontsource/fira-mono";

:root {
  --bg-color: #fff;
  --accent-color: #ff5c00;
  --font-main: #000;
  --font-secondary: #070000;
}

html {
  font-size: 0.6px;
  @media (min-width: 460px) {
    font-size: 0.8px;
  }
  @media (min-width: 768px) {
    font-size: 1px;
  }
}

body {
  min-height: 100vh;
  font-size: 16rem;
  font-family: "Inter Variable", sans-serif;
}
