@import "@fontsource/fira-mono";

:root {
  --bg-color: #fff;
  --font-main: #000;
  --font-secondary: #070000;
}

[data-theme="default"] {
  --accent-color: #ff5c00;
}

[data-theme="bw"] {
  --accent-color: #000;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Inter Variable", sans-serif;
}
